* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #f3a23b;
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #e05200, #f3a23b);
}

.hide {
    display: none;
}

/* Loader Styles */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #e05200, #f3a23b);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: opacity 0.3s ease;
}

.spinner img {
    width: 200px;
    height: auto;
    animation: heartbeat 1.5s ease-in-out infinite;
 
}

@keyframes heartbeat{
    0%, 100% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}

/* Header Styles */
header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #FCE92B;
    z-index: 9999;

}

.logo {
    width: 200px;
    max-width: 100%;
    height: auto;
}

/* Hero Section Styles */
#hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 40px;
    width: 100%;
    height: 650px;
}

div.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FCE92B;
    border-radius: 20px;
    background-image: url(../assets/card-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    animation: bgScroll 10s linear infinite alternate;
}

@keyframes bgScroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
} 

.hero-img img {
    width: 60%;
    height: auto;
}

/* Search & Filter Styles */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input__container {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 4px solid #000;
  width: 600px;
  max-width: 100%;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  /* transform: rotateX(10deg) rotateY(-10deg); */
  perspective: 1000px;
  box-shadow: 10px 10px 0 #000;
}

.input__container:hover {
  transform: rotateX(5deg) rotateY(1 deg) scale(1.05);
  box-shadow: 25px 25px 0 -5px #FCE92B, 25px 25px 0 0 #000;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateZ(-50px);
  background: linear-gradient(
    45deg,
    rgba(255, 107, 107, 0.4) 0%,
    rgba(255, 107, 107, 0.1) 100%
  );
  filter: blur(20px);
}

.input__button__shadow {
  border: 3px solid #000;
  background: #FCE92B;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: translateZ(20px);
  position: relative;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}

.input__button__shadow:hover {
  background: #FCE92B;
  transform: translateZ(10px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__button__shadow svg {
  fill: #000;
  width: 25px;
  height: 25px;
}

.input__search {
  width: 100%;
  outline: none;
  border: 3px solid #000;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  color: #000;
  transform: translateZ(10px);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  z-index: 3;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -0.5px;
}

.input__search::placeholder {
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

.input__search:hover,
.input__search:focus {
  background: #f0f0f0;
  transform: translateZ(20px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

.input__container::before {
  content: "SEARCH";
  position: absolute;
  top: -22px;
  left: 20px;
  background: #FCE92B;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}

/* Characters Section Styles */
#characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    padding: 50px;
}

.card {
    background-image: url(../assets/card-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeUp 0.6s ease-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card img {
    margin-top: -40px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.inner-card {
    background-color: #fffe89;
    padding: 14px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inner-card h2 {
    color: #e05200;
    font-size: 1.5rem;
    font-weight: 800;
}

.key {
    font-size: 18px;
    font-weight: 700;
    color: #432705;
}

.inner-card p {
    font-size: 16px;
    font-weight: 600;
    color: #2c2c2c;
    margin: 5px 0;
}

/* Break Section Styles */
#break {
    text-align: center;
    padding: 5px 0;
}

#break p {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-transform: capitalize;
}

#break svg {
    width: 30px;
    height: 30px;
    fill: #000000;
    margin-top: 10px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Footer Styles */
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FCE92B;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.footer-logo {
    width: 200px;
    max-width: 100%;
    height: auto;
}

footer p {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

footer p a {
    color: #e05200;
}

/* Hover Effects */
.card:hover img {
    transform: scale(0.85);
    transition: transform 0.3s ease-in-out;
}

footer p a:hover{
    color: #f38f0d;
}



/* Responsive Design */
@media (min-width: 1720px) {
  #characters, div.hero-img {
    max-width: 1250px;
  }
}

@media (min-width: 1025px) and (max-width: 1320px) {
    #characters {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #characters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1048px) {
    footer .container {
        justify-content: center;
        gap: 10px;;
        flex-wrap: wrap;
    }

    footer p {
        text-align: center;;
        padding-bottom: 10px;
    }
}

@media (max-width: 768px) {
    #characters {
        grid-template-columns: 1fr;
    }

    #hero .container {
        height: 450px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .hero-img img {
    width: 80%;
    height: auto;
}
}